/** Global *******************************************/
*{
	all: unset;
	font-family: Fira Sans;
}

/** Generic window ***********************************/
.genwin {
	background-color: #3d3d3d;
	border-radius: 16px;
}

/** System ********************************************/
.iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconmem {
	color: #BF616A;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #A3BE8C;
}

.mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3d3d3d;
	border-radius: 4px;
	min-height: 8px;
	min-width: 240px;
}

.mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 4px;
}

.mem_bar scale trough highlight {
	background-color: #BF616A;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #A3BE8C;
}

/** Clock ********************************************/
.clock_time {
	color: #81A1C1;
	font-size : 70px;
	font-weight : bold;
	margin : 0px 0px 0px 10px;
}

.clock_day {
	color: #EBCB8B;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 10px -15px 0px;
}

.clock_time_syd {
	color: #A3BE8C;
	font-size : 20px;
	font-weight : normal;
	margin : -15px 10px 0px 0px;
}